body {
  padding: 0;
  margin: 0;
}

.search-form {
  position: sticky;
  width: 100%;
  z-index: 1;
  background-color: #3f56b1;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px;
  padding: 10px 0;
  display: flex;
  top: 0;
}

input {
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  margin-right: 0;
  padding: 10px;
}


.search-button {
  background-color: #eee;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
  
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-image {
  width: 340px;
  height: 240px;
  border-radius: 5px;
  object-fit: cover;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.info {
  justify-content: center;
  align-items: center;
  padding: 15px;
  display: flex;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  }

.info-item {
  text-align: center;
}

  .info-item:not(:last-child){
    margin-right: 20px;
  }

  .photo-card {
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.12),0px 4px 4px rgba(0,0,0,.06),1px 4px 6px rgba(0,0,0,.16);
    box-shadow: 0px 1px 1px rgba(0,0,0,.12),0px 4px 4px rgba(0,0,0,.06),1px 4px 6px rgba(0,0,0,.16);
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 5px;
    padding-bottom: 0px;
  }

  .hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
  }
  
  .load-more {
    border-radius: 5px;
    width: 130px;
    outline: transparent;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: blueviolet;
    border-style: outset;
  }

  .hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
  }

  .on {
    display: block;
  }